# IDE
.idea
.vs

build/
_build/
install/
_install/
out/
_out/
external

# CMake related
_deps
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Temporary
tmp/
